body {
    text-align: center;
}


#school_name {
    color: #FFFFFF;
    bottom: 0;
    background: linear-gradient(#ff9705 0%, #2007fa 100%);
    display: table;
    width: 100%;
    height: 100%;
    z-index: 9;
}

h1 {
    font-size: 40px;
    font-family: fantasy;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

#contact iframe {
    width: 100%;
}


.contact_1 h3 {
    display: inline;
}

.contact_1 a {
    text-shadow: none;
}


.video {
    width: 80%;
}


input {
    background: grey;
}

.nav_bar {
    position: sticky;
    top: 0;
    z-index: 99999;








#map {
    width: 100%;
}

#img {
    text-align: center;

}

html {
 scroll-behavior: smooth;
}

#map iframe
{
    width: 50%;
    float: left;
    padding-top: 5px;
}

.contact_1 h3
{
    display: inline;
}
.contact_1 a
{
    text-shadow: none;
}

#footer{
  height: 20px;
  background-color:white;
  }

input
{
    background: grey
}

.announcement{
background-color:#337ab7;
width: 100%;
height: 30px;
}

#marqueeStyle{
  width:100%;
  direction:right;
  height:100px;
  color: beige;
  font-size:120%;
}

#video{
  width:100%;
  height:500px;
  border: none;
}

/* Clearfix (clear floats) */
.row::after {
  content: "";
  clear: both;
  display: table;
}

.travel_mainDiv
{
  float: left;
  width: 33.33%;
  padding: 5px;
  border: 1px solid #c7c7c7;
}

.travel_mainDiv img
{
  width: 100%;
  height:300px;
} 

.travel_mainDiv hr
{
    width: 100%; 
}

.travel_mainDiv h5 , .travel_mainDiv p
{
margin-left: 20px;
}


#achievementsID{
 padding-bottom: 10px;
}

.movie_head
{
    font-size: 20px;
    padding: 6px 22px;
    border-radius: 10px;
    margin-bottom: 15px;
    width: 100%;
    display: inline-block;
}

.movie_head i
{
float: right;
}

.movie_text span
{
color: #ff7700;
}
